$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

h2 {
  color: #1E7319;
  padding: 5px;
}


#login-form {
  margin-left: 700px;
  margin-top: -115px;
  margin-bottom: 75px;
}

.user-info {
  color: orange;
  font-size: 22px;
  margin-right: 600px;
  margin-top: -200px;
}

.entername {
  color: #1E7319;
}

.animate-enter.animate-enter-active, 
.animate-leave {
  opacity: 1;
  top: 0;
  height: 30px;
}

.animate-leave.animate-leave-active,
.animate-enter {
  opacity: 0;
  top: -50px;
  height: 0px;
}

.username, 
.about {
  color: white;
}

.collapse {
  margin-left: 570px;
  color: white;
  font-size: 18px;
}

.nav navbar-nav {
  color: #1E7319;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail:hover {
  opacity: .5;
  width: 400px;
  height: autopx;
}

.shoe {
  margin-top: -250px;
  margin-left: 300px;
}


.thumbnail {
  margin-left: 170px;
  margin-top: 15px;
  margin-bottom: -20px;
}

.hikeresults {
  text-decoration: none;
  color: #AD742A;
  list-style-type: none;
  margin-bottom: 50px;

}

.saved {
  width: 25%;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  color: white;
  margin-left: 0px;
  margin-top: 20px;
  margin-bottom: 25px;
}

strong {
  color: green;
}

body {
  padding: 0;
  background-color: #4D3026;
  background-image: none;
 
}

.maintrails {
  list-style-type: none;


}



.logo {
  margin: 70px auto 30px 140px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.marketing,
.footer {
  color: #FFFFFF;
  margine-left: 150px;

} 

/* input formatting */
.city, 
.state {
  font-size: 14px;
  display: block;
}


#social {
  margin-left: 1000px;
  margin-top: -160px;
  padding: 5px;
}

.follow {
  margin: px 60px -30px -90px;
  font-size: 15px;
  color: white;

}

/* Custom page header */
.header {
 margin-top: 40px;
 background-color: #CC9C0C;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 0px;
    padding-bottom: 19px;
  }
}



.location {
  color: white;
}



.featured {
  color: white;
  font-size: 25px;
  margin-left: 110px;
  margin-bottom: 15px;
  margin-top: 50px;
  text-decoration: underline;
}


.maintrails ul {
text-align: center;

}

.maintrails li {
 margin: auto 20px 50px 70px;
  padding: 15px;
  float: left;
    background-color: #1E7319;

}


/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 16px;
    padding: 4px 64px;
  }
}



.credits {
  margin-left: 75px;
  margin-top: 180px;
}

.aboutus {
  text-decoration: none;
  list-style-type: none;
  color: white;
  margin: -20px auto 50px 80px;
}

.connect {
  text-decoration: none;
  list-style-type: none;
  margin-right: 10px;
  color: white;
  margin-top: -20px;
  margin-bottom: 50px;
 
}

.support {
  ext-decoration: none;
  list-style-type: none;
  margin-right: 10px;
  color: white;
  margin-top: -20px;
  margin-bottom: 50px;
}

.contact {
  text-decoration: none;
  list-style-type: none;
  margin-left: 10px;
  color: white;
  float: left;
  margin-top: -20px;
  margin-bottom: 50px;
}


.somethingelse {
  text-decoration: none;
  list-style-type: none;
  margin-left: 20px;
  color: white;
  float: left;
  margin-top: -20px;
  margin-bottom: 50px;
}


.copyright {
  color: white;
  margin-top: 130px;
  text-align: center;
  margin-bottom: 100px;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing  {
    padding-left: 0;
    padding-right: 0;
  } 

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}