<p class="about" ><strong>About Us:</strong>
	<br>
As the nation's largest state-based hiking nonprofit organization, Hiking Bliss is the voice for hikers in Washington state. We protect hiking trails and wildlands, take volunteers out to maintain trails, and promote hiking as a healthy, fun way to explore the outdoors. <br>
<br>


<strong>Our mission:</strong>
<br>
To preserve, enhance, and promote hiking opportunities in Washington state through collaboration, education, advocacy and volunteer trail maintenance.

<br>
<br>

<strong>We believe:</strong>
<br>

Hiking trails are our link to wilderness.
That people will protect the places they love to hike, from local parks to remote wilderness.
It is vitally important for everyone to have the opportunity to access the outdoors, and we are committed to reducing barriers to hiking trails and lands. </p>


