<div ng-app class="jumbotron" ng-controller="MainCtrl">
  <h2>Trails in {{place.name}}</h2>
  <p class="lead">
    <div ng-init="place=''">
        <p>
          <label class="city">City:
            <input type="text" name="City" placeholder=" Enter City here" minlength="2" ng-model="place">
          </label>

          <label class="state">State:
            <input type="text" name="State" placeholder=" Enter State here" maxlength="2" ng-model="place">
          </label>



        </p>
        <p>
          <button class="btn btn-lg btn-primary" ng-click="refreshCurrent()">Find me some trails to hike!</button>
        </p>
        <dl ng-repeat="place in places">
          {{place.name}}
  
      </dl>
    </div>
  </p>
</div>