<div ng-app class="jumbotron" ng-controller="MainCtrl">
  <h2>Trails in</h2>
  <p class="lead">
    <div ng-init="location=' '">
        <p>
          <label class="Location">Location:
            <input type="text" name="Location" placeholder="Enter City here" minlength="2" ng-model=" location">
          </label>
        </p>
   
      
        <p>
          <button class="btn btn-lg btn-primary" ng-click="findHikes()">Find me some trails to hike!</button>
        </p>

        <br>

        <!-- {{hikesFound.places[0].city}} -->
        <ul class="hikeresults">
          <li ng-repeat="hike in hikesFound.places | limitTo: 5">
             <strong>{{hike.name}}</strong> | 

             {{hike.city}},
             {{hike.state}} <br>
            {{hike.activities[0].description}} 
            {{hike.activities[0].thumbnail}}  <br>
            {{hike.thumbnail}}
            <img src="images/Mt. Si/Mt. Si5.jpeg" style="width:200px;height:auto">

<br>
<br>
           <button class="directions" id="btn btn-lg btn-primary" ng-click="directions()">Click here for directions</button>
           

<br>
             <br> <hr>
          </li>

        </ul>

      </div>

      <div ng-if="searchQuery">
        <p class="lead">{{citiesFound.count}} cities found matching the query: {{searchQuery}}. </p>



        <dl ng-repeat="place in places">
          <dt>{{city.name}}</dt>
        <dd>{{city.place[0].main}} - {{city.place[0].description}}</dd>
        <dt>Name</dt>
        <dd>{{city.name.description}} &deg;F</dd>
        <dd><a ng-href="/#/hikeSearch/{{place.id}}" class="btn btn-lg btn-primary">View Trails</a></dd>
      </dl>
    </div>
  </p>
</div> {{place.name}}
  
      </dl>
   
  </p>
</div>


<div ng-if="storage.savedCities">
  <h2>Saved Cities</h2>
  <ul class="saved-cities-list">
    <li ng-repeat="city in storage.savedCities">
      <a ng-href="/#/hikeSearch/{{city.id}}" class="btn btn-lg btn-primary">{{city.name}}</a>
    </li>
  </ul>
</div>